.classButton
{
	border:1px solid #FF8F1C;
	color:#FF8F1C;
	text-align:center;
	letter-spacing:2px;
	cursor:pointer;
	height:32px;
	line-height:32px;
	background-color:#eee;
}
.comBut/*按钮通用样式*/
{
	border:1px solid #FF8F1C;
	color:#FF8F1C;
	text-align:center;
	letter-spacing:2px;
	cursor:pointer;
	height:32px;
	line-height:32px;
	background-color:#eee;	
}
.butS /*缩略图及分类图部分样式*/
{
	width:32px;
	float:left;
	margin:0px 2px;
}
.butX/*详情图按钮样式*/
{
	position:fixed;
	right:200px;
	width:120px;
}
